@import url(reset.css);

.container{
    width: 100%;
    margin: 20px;
}


.container__tabuleiro__casa {
    position: absolute;
    z-index: 1;

}

.container__tabuleiro__casa > .separador__horizontal{
    display: flex;
    flex-direction: row;
}

.container__tabuleiro__casa > .separador__horizontal > .rua {
    display: flex;
    flex-direction: row;
}

.container__tabuleiro__casa > .separador__vestical{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rua {
    display: grid;
}

#rua01{
    display: flex;
    flex-direction: column-reverse;
}

#rua04{
    display: flex;
    flex-direction: row-reverse;
}
   
.casa{
    width: 160px; 
    height: 120px; 
    background-color: #fff;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    position: relative;
    z-index: -1;

}

.casa > h2{
    font-weight: 700;
    font-size: medium;
}

.container__tabuleiro__cartas-sorte-reves {
    position: absolute;
    z-index: 2;
}

.jogador > img{
    width: 25px;
    position: relative;
    z-index: 3;
}

.container__dados{
    position: absolute;
    z-index: 5;
}