@import url(reset.css);

.container{
    width: 800px;
    margin: 20px;
}

.container__tabuleiro__casa > .separador__horizontal{
    display: flex;
    flex-direction: row;
}

.container__tabuleiro__casa > .separador__horizontal > .rua {
    display: flex;
    flex-direction: row;
}

.container__tabuleiro__casa > .separador__vestical{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rua {
    display: grid;
}

#rua01{
    display: flex;
    flex-direction: column-reverse;
}

#rua04{
    display: flex;
    flex-direction: row-reverse;
}
   
.casa{
    width: 80px; 
    height: 60px; 
    background-color: #fff;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
}

.casa > h2{
    font-weight: 700;
    font-size: small;
}

.jogador > img{
    width: 30px;
}

.container__dados{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding: 160px;
    padding-top: 330px;
    gap: 40px;
}

.dado{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dado > img{
    width: 80px;
    border: 1px solid #000;
    border-radius: 18px;
}

.container__tabuleiro__cartas-sorte-reves > .sorte-ou-reves{
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 2;

}
/* Girando carta do SOUR */
#btn-sorteOuReves {
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}
.girando-card {
    transform: rotate3d(1, 1, 1, 360deg);
}

